/*fonts*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet');

@import url('https://fonts.googleapis.com/css2?family=Revalia&display=swap');

/*titles & font styles*/

.body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.h1 {
    font-size: 48px;
}

.h2 {
    font-size: 32px;
}

.h3 {
    font-size: 21px;
}

.loremIpsum {
    font-size: 16px;
    color: #727272;
}

/*button style*/

.button {
    padding: 10px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    width: 225px;
    height: 65px;
    justify-content: center;
    font-size: 16px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #34547A;
}


/*navbar*/

.navbar {
    padding: 0;
    margin-top: 68px;
}

.navbar__list__item {
    display: inline-flex;
    flex-direction: row;
    justify-content: left;
    list-style-type: none;
    text-decoration: none;
    border: 0;
    outline: none;
    margin-right: 21px;
    margin-left: 21px;
    white-space: nowrap;
}

.navbar__list__item__link  {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #000000;
}

.dropdown-menu {
    display: none;
    border: none;
    outline: none;
    margin-left: -1em;
    list-style-type: none;
    font-size: 1.2rem;
    font-weight: 600;
}

#dropdownMenuButton {
    position: absolute;
    top: 1em;
    background-color: #ffffff;
    color: #000000;
    border: none;
    outline: none;
    font-size: 1.5rem;
}

/*header*/

.header {
    max-width: border-box;
    background-color: #EEEFF1;
    margin: 0;
    padding: 0;
}

.header__logo {
    font-family: 'Revalia', sans-serif;
    font-size: 57.6px;

    margin-top: 46px;
}

.header__logo__link:link {
    text-decoration: none;
    color: #34547A;
}
/*Section1*/

.section1 {
    background-color: #EEEFF1;
    padding-top: 162px;
    padding-bottom:157px;
}

.container {
    max-width: border-box;
    padding: 0;
}

.section1-img__img {
    width: 100%;
    height: auto;
    margin-top: 30px;
}

.section1__loremIpsum {
    margin-top: 60px;
    margin-bottom: 60px;
}
/*Section 2*/

.section2 {
    justify-content: center;
    margin-top: 112px;
    margin-bottom: 100px;
    text-align: center;
}

.aboutMe__loremIpsum {
    margin-top: 50px;
}

/*Section3*/

.section3 {
    background-color: #34547A;
}

.section3-row {
    padding-top: 100px;
    padding-bottom: 100px;
}

.section3-projects {
    justify-content: center;
    display: inline-flex;
    flex-direction: row;
    margin: 10px 0px;
}

.section3-projects__span {
    color: #ffffff;
    margin-left: 20px;

}

.section3-projects__span__forty {
    font-weight: bold;
}

/*Section 4*/

.section4-row {
    margin-top: 102px;
    margin-bottom: 101px;
    display: flex;
    align-content: flex-end;
}

.section4-mySkills {
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 102px;

}

.mySkills__progress {
    border-radius: 0;
    height: 4px;
    width: 100%;
    margin-bottom: 30px;
}

.mySkills__progress[value]::-webkit-progress-bar {
    background-color: #C4C4C4;
}

.mySkills__progress[value]::-webkit-progress-value {
    background-color: #34547A;
}

.mySkills__h2 {
    margin-bottom: 50px;
}

.mySkills__p {
    margin-bottom: 20px;
}

.section4-photo__img {
    width: 100%;
    height: auto;
}

/*Section 5*/

.section5 {
    background-color: #EEEFF1;
}

.section5-row1 {
    padding-top: 100px;
    padding-bottom: 57px;
    text-align: center;
}

.section5-row2 {
    padding-bottom: 100px;
}

.howIWork__h2 {
    margin-bottom: 50px;
}



.section5-video__code {
    z-index: 1;
}

.section5-video__img {
    width:10%;
    height:auto;
    position: absolute;
    top:40%;
    left: 45%;
    z-index: 3;
}

/*Section 6*/

.imgBlock {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.imgBlock__link__img {
    max-width: 100%;
    height: auto;
}

.imgBlock:hover {
    background-color: #34547A;
    background-image: url("../img/eye.png");
    background-repeat: no-repeat;
    background-position: center, center;
}

.imgBlock__link__img:hover {
    -webkit-filter: opacity(50%);
}

/*Section 7*/

.section7 {
    margin-top: 72px;
    margin-bottom: 100px;
}

.microsoftImg__link__img {
    max-width: 100%;
    height: auto;
}

/*Section 8*/

.section8 {
    background-color: #EEEFF1;
    padding-top: 100px;
    padding-bottom: 100px;
}

.section8-row {
    margin-bottom: 65px;
    text-align: center;
}

.service__h2 {
    margin-bottom: 50px;
}

.section8-form {
    display: flex;
    justify-content: center;
}

.section8-form__input_name {
    width: 48%;
    border-style: none;
    height: 50px;
}

.section8-form__input_email {
    width: 48%;
    border-style: none;
    height: 50px;
}

.section8-form__textArea {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    height: 175px;
    border-style: none;
}

.section8-form__button {
    margin-top: 50px;
}

/*Section footer*/

.footer {
    background-color: #34547A;
    padding: 50px 0px;
}

.footer-rights__h3 {
    color: #ffffff;
}

.footer-rights__span {
    color: #ffffff;
    font-size: 13px;
}

.footer-contacts__link__img {
    margin: 10px 11px;
}

/*media features*/

@media (max-width: 573px) {

    .container {
        padding: 20px;
    }

    .h1 {
        font-size: 30px;
    }

    .h2 {
        font-size: 25px;
    }

    .h3 {
        font-size: 16px;
    }

    .loremIpsum {
        font-size: 14px;
    }

    .section1-img__img {
        margin-bottom: 40px;
    }

    .footer {
        padding: 20px;
    }
}